
.list {
    background-color: #fff;
    border-radius: 1rem;
    padding: 70px 60px;
    margin: 0 auto;
  }
  
  h2 {
    color: #111;
    font-size: 2.25rem;
  }
  
  .input-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  input {
    background: #fff;
    border: 0.5 solid #686AAC;
    padding: 12px 24px;
    border-radius: 8px;
    height: 100px;
    width: 70%; 
  }
  
  button {
    border-radius: 8px;
    border: 0;
    color: #fff;
    padding: 14px;
  } 
  
  .add-container {
    display: flex;
    justify-content: flex-start;
  }
  
  .add-task {
    background:#686AAC;
    width: 300px;
  }
  
  .remove-task {
    background:rgb(230, 79, 79);
    
  }
  
  main {
    width: 100%;
    margin: 0 auto;
  }
  
  .list-items {
    list-style: none;
    /* width: 100%;
    margin: 0 auto; */
    margin:0;
    padding: 0;
  }
  
  .list-items > li {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 0.7px solid #7e7d7d;
    width: 70%;
  }

  .list-items > li > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px 0;
    width: 100%;
  }
  
  .list-items li div h5 {
    color: #686AAC;
    margin: 0;
    font-size: 0.7em;
  }

  .list-items li div h6 {
    color: #aaa;
    font-size: 0.6em;
    margin: 0;
  }

  .list-items > li > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  
  .list-items li div p {
    font-size: 0.8em;
    font-weight: 200;
    margin: 0;
    color: #111;
  }
  